body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.nopage {
    text-decoration: none !important;
    color: rgba(235, 235, 235, 0.64) !important;
    transition: 0.5s !important;
    padding: 3px;
}

a.nopage:hover {
    color: #e6b752d0 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333940 !important;
    user-select: none;
}

header {
    color: #fff;
    padding: 20px;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

main {
    padding: 20px;
}

.vh-25 {
    height: 25vh;
}

.vw-25 {
    width: 25vw;
}

.vh-50 {
    height: 50vh;
}

.vw-50 {
    width: 50vw;
}

.vh-75 {
    height: 75vh;
}

.vw-75 {
    width: 75vw;
}

.center-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #303c5a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ac833d;
}

.btn.btn-outline-primary,
.btn.btn-outline-danger,
.btn.btn-outline-secondary,
.btn.btn-outline-success {
    background-color: #f2f2f2;
}

.nav-link:not(.active) {
    color: #f2f2f2 !important;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
}

.propic {
    width: 100px;
    height: 100px;
}

.datacard {
    width: 80vw;
}


.footer-text {
    color: #fff;
    padding: 20px;
    text-align: center;
    user-select: none;
}

.text-align-center {
    padding: 20px;
    text-align: center;
}