<div class="content" role="main">
  <div class="m-2"><i class="clickable bi bi-arrow-left-circle-fill" (click)="goBack()"></i></div>

  <div class="mt-4 sticky-top">
    <div class="row p-3 " [ngClass]="bannerClass">
      <div class="col-auto">
        <h1 class="row">{{channel.name}}</h1>
      </div>
      <span class="col d-flex flex-row-reverse" *ngIf="!error">


        <div class="row">
          <div class="col-6">
            <span *ngIf="!channel.is_official && channel.subscription_status" (click)="toggleMute()" class="bi"
              [ngClass]="{'bi-bell-fill': !channel.is_muted_by_user, 'bi-bell-slash': channel.is_muted_by_user}"></span>
          </div>
          <div class="col-6 ps-0">
            <div *ngIf="!channel.subscription_status" class="btn btn-primary btn-sm pe-2 mb-2"
              (click)="subscribeToChannel(channel.name, true)">
              <i *ngIf="!loading" class="bi bi-plus-lg"></i>
            </div>
            <a *ngIf="channel.subscription_status" class="btn btn-success btn-sm mb-2"
              (click)="subscribeToChannel(channel.name, false)">
              <i *ngIf="!loading" class="bi bi-check-lg"></i>
            </a>
          </div>
        </div>

      </span>
    </div>
    <div class="pt-3 ps-2" *ngIf="!error">
      <i class="bi bi-hourglass"></i> Online since {{timeService.getRelativeTime(channel.created_at)}}
      <p class="mt-4">{{channel.description}}</p>
    </div>
  </div>
  <hr class="mt-1">
  <div class="pb-2">
    <div *ngFor="let squeal of squeals">
      <div class="text-end mt-3 mb-2 me-2" *ngIf="channel.is_editor">
        <i class="bi bi-x-circle h2 me-1" data-bs-toggle="collapse" [attr.data-bs-target]="'#deleteSqueal'+squeal._id"
          role="button" aria-expanded="false" aria-controls="deleteSqueal"></i>
      </div>
      <div class="collapse mx-3 mb-1" [id]="'deleteSqueal'+squeal._id" *ngIf="channel.is_editor">
        <div class="card card-body text-dark text-center">
          Do you want to remove this squeal?
          <div class="d-flex justify-content-around mt-2">
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#deleteSqueal'+squeal._id" role="button" aria-expanded="false"
              aria-controls="deleteSqueal">Cancel</button>
            <button type="button" class="btn btn-danger text-end" (click)="removeSqueal(squeal)"
              data-bs-dismiss="collapse">Remove Squeal</button>
          </div>
        </div>
      </div>
      <app-squeal [squeal]="squeal" class="of-vis"></app-squeal>
    </div>

    <div *ngIf="lastSquealLoaded>=0" class=" d-flex justify-content-center align-items-center py-2">
      <button (click)="loadMoreSqueals()" type="button" title="load more"
        class="btn btn-outline-secondary rounded-pill"><i class="bi bi-arrow-clockwise"></i></button>

    </div>

  </div>


</div>