@import './base.css';


.elements-height {
  height: calc(100vh - 76px);
}


#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  overflow: hidden;

  font-weight: normal;
}


body {
  min-width: 250px;
}


a,
.green {
  text-decoration: none;
  color: rgba(235, 235, 235, 0.64);
  transition: 0.4s;
  padding: 3px;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(39, 100%, 20%, 0.192);
    border-radius: 15px;
  }
}