@import './base.css';


.elements-height {
  height: calc(100vh - 76px);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #303c5a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ac833d;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */

}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  overflow: hidden;

  font-weight: normal;
}


body {
  min-width: 250px;
}


a,
.green {
  text-decoration: none;
  color: rgba(235, 235, 235, 0.64);
  transition: 0.4s;
  padding: 3px;
}

.clickable {
  cursor: pointer !important;
}


.btn-primary {
  background-color: #303c5a !important;
  border-color: #303C5A !important;
  color: white !important;
}

.bg-primary,
.btn.btn-primary,
li.active,
button.active {
  background-color: #303C5A !important;
  border-color: #303C5A;
  color: white !important;
}

.text-primary,
.btn.btn-primary.bg-primary,
button:not(.active) {
  color: #303C5A !important;
}

button:not(.active).text-white {
  color: white !important;
}

.btn.text-white {
  color: white !important;
}

.border-primary {
  border-color: #303C5A !important;
}


.user-select-none {
  user-select: none;
}

@media (hover: hover) {
  a:hover.title {
    background-color: #fed4723a;
    border-radius: 15px;
  }
}