<nav class="menu">
  <input type="checkbox" href="#" class="menu-open" [attr.name]="'menu-open'+squealId"
    [attr.id]="'menu-open'+squealId" />
  <label class="menu-open-button" [for]="'menu-open'+squealId">
    <span><img class="reaction-image" src="./../../../assets/imgs/reactionsBW.png"></span>
  </label>

  <a href="#" (click)="addReaction('like', $event)" class="menu-item lightblue"> 👍 </a>
  <a href="#" (click)="addReaction('love', $event)" class="menu-item lightblue"> 😍 </a>
  <a href="#" (click)="addReaction('disgust', $event)" class="menu-item red"> 🤮</a>
  <a href="#" (click)="addReaction('dislike', $event)" class="menu-item red"> 👎</a>
  <a href="#" (click)="addReaction('disagree', $event)" class="menu-item red"> 🙅</a>
  <a href="#" (click)="addReaction('laugh', $event)" class="menu-item lightblue"> 😂 </a>
</nav>