<nav class="menu">
  <input [(ngModel)]="menu_opened" type="checkbox" href="#" class="menu-open" title="Button for menu opening"
    [attr.name]="'menu-open'+squealId" [attr.id]="'menu-open'+squealId" [disabled]="alreadyReacted==true" />
  <label class="menu-open-button" [for]="'menu-open'+squealId">
    <span><img class="reaction-image" [src]="imageUrl" alt="three emoji in a circle"></span>
  </label>

  <a href="#" (click)="addReaction('like', $event)" class="menu-item lightblue"> 👍 </a>
  <a href="#" (click)="addReaction('love', $event)" class="menu-item lightblue"> 😍 </a>
  <a href="#" (click)="addReaction('disgust', $event)" class="menu-item red"> 🤮</a>
  <a href="#" (click)="addReaction('dislike', $event)" class="menu-item red"> 👎</a>
  <a href="#" (click)="addReaction('disagree', $event)" class="menu-item red"> 🙅</a>
  <a href="#" (click)="addReaction('laugh', $event)" class="menu-item lightblue"> 😂 </a>
</nav>