<div role="main">
  <div>
    <div class="m-1 p-2 pt-3 row">
      <h1 class="col-auto">Private messages</h1>
      <a *ngIf="!isGuest" class="btn btn-primary col-auto ms-auto px-3" data-bs-toggle="collapse" href="#newMessage"
        role="button" aria-expanded="false" aria-controls="newMessage">+</a>
      <div *ngIf="!isGuest" class="collapse multi-collapse" id="newMessage">
        <div class="card card-body p-0">
          <div class="input-group">
            <span class="input-group-text" id="username-addon">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
              aria-describedby="username-addon" [(ngModel)]="newChatUsername">
            <button class="btn btn-outline-secondary" type="button" id="send-button" (click)="newChat()"><i
                class="bi bi-send-plus"></i></button>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="isGuest" class="m-3">
      <a (click)="goToPage('login')" class="text-primary">Log-in</a> to view your private messages
    </div>
    <div *ngIf="!isGuest">
      <div *ngFor="let chat of chatsPreview;">
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center row">
          <div class="col-1"></div>
          <div class="toast show m-1 col col-md-2 clickable" [class.dark-toast]="getDarkMode()=='dark-theme'"
            role="alert" aria-live="assertive" aria-atomic="true"
            [routerLink]="['/private-chats/user', chat._id, chat.recipient]">
            <div class="toast-header" [class.dark-toast]="getDarkMode()=='dark-theme'">
              <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" [ngStyle]="{ 'fill': 'blue' }"></rect>
              </svg>
              <strong class="me-auto text-capitalize">{{ chat.recipient}}</strong>
              <small>{{timeService.getRelativeTime(chat.last_modified)}}</small>
            </div>
            <div class="toast-body">
              <i class="card-text col"><i *ngIf="chat.sent_by_me">You: </i>{{ chat.last_message}}</i><i class="col"></i>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>

    </div>

  </div>
</div>