* {
  user-select: none;
  font-family: "Roboto", "Asap", sans-serif;
  overflow-x: hidden;
}

body {
  user-select: none;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  background-color: #d4d4d4;
  /* Hide scrollbars */
}

.main-content {
  padding: 0 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* Altezza della barra di navigazione */
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.light-theme {
  background-color: #d4d4d4;
  color: rgb(33, 37, 41);
}

/* Stili specifici per il tema scuro */
.dark-theme {
  background-color: rgb(33, 37, 41);
  color: #d4d4d4;
}

.squeal.dark-theme {
  background-color: rgb(33, 37, 41);
  color: #d4d4d4;
  border-color: rgb(80, 79, 79);
}

.squeal.dark-theme:hover {
  background-color: rgb(50, 55, 61);
}

.squeal.light-theme {
  background-color: rgb(248, 249, 250);
  color: rgb(65, 73, 82);
  border-color: rgb(150, 150, 150);
}

.squeal.light-theme:hover {
  background-color: rgb(233, 233, 233);
}

#squeal-form,
.squeal,
.side-menu,
.toast,
.toast-header,
body {
  transition: background-color 0.3s ease;
}


#squeal-form.dark-theme {
  background-color: rgb(33, 37, 41);
  color: #d4d4d4;
  border-color: rgb(80, 79, 79);
}

#squeal-form.light-theme {
  background-color: #d4d4d4;
  color: rgb(33, 37, 41);
  border-color: rgb(150, 150, 150);
}



.submit-button.dark-theme {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.submit-button.light-theme {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f50057;
}

.toast:hover {
  /* Stile durante l'hover */
  --bs-toast-bg: rgba(155, 155, 155, 0.2);
  --bs-toast-header-bg: rgba(252, 252, 252, 0.2);
  border: 1px solid #a0a0a0;
  /* Cambia colore del bordo durante l'hover */
}

.toast.dark-toast:hover {
  --bs-toast-bg: rgba(0, 0, 0, 0.2);
  --bs-toast-header-bg: rgba(61, 61, 61, 0.2);
  border: 1px solid #a0a0a0;

}

.toast.dark-toast {
  --bs-toast-box-shadow: 0 0 10px #2e3133;
  --bs-toast-bg: #373f47;
  --bs-toast-header-bg: #30363d;
  --bs-toast-border-color: #6b6b6b;
}