<div role="main">
  <div class="mt-4">
    <div class="row">
      <img class="col-3" alt="Profile Picture" src="assets/imgs/logo.png" />
      <div class="col-auto">
        <h2 class="row ms-2 pt-4">{{user.username}}</h2>
        <span class="row ms-2 text-secondary">{{user.account_type}}</span>
      </div>
      <span class=" col d-flex flex-row-reverse">
        <i class="bi bi-gear"></i>
      </span>
    </div>
    <div class="pt-3 ps-2">
      <small><i class="bi bi-hourglass"></i> User since {{timeService.getRelativeTime(user.created_at)}}</small>
      <p class="mt-4">{{user.bio}}</p>
    </div>
  </div>
  <hr>
  <div>
    <app-squeal *ngFor="let squeal of squeals"></app-squeal>

  </div>
</div>