img {
  max-width: 100%;
}

textarea {
  resize: none;
  overflow: hidden;
}



.red {
  color: red;
}

.vibrating-error {
  animation: vibrate 0.5s ease infinite;
  color: red;
}


@keyframes vibrate {
  0% {
    transform: translate(-1px, 1px);
  }

  12% {
    transform: translate(0px, 1px);
  }

  25% {
    transform: translate(-1px, -1px);
  }

  37% {
    transform: translate(1px, -1px);
  }

  50% {
    transform: translate(1px, 0px);
  }

  62% {
    transform: translate(-1px, 1px);
  }

  75% {
    transform: translate(0px, 1px);
  }

  87% {
    transform: translate(-1px, -1px);
  }

  100% {
    transform: translate(1px, -1px);
  }


}

#squeal-txt-input {
  background-color: #ffffff;
  /* Colore rosso, sostituiscilo con il colore desiderato */
}

#recipientsButton {
  color: #c00050
}

.accordionRecipients {
  width: 100%;
}

.avatar {
  border-radius: 100px;
  width: 48px;
  margin-right: 5px;
}


.squeal-wrap {
  max-width: 490px;
  background: #fff;
  margin: 0 auto;
  border-radius: 8px;
  padding: 30px;
}

.squeal-header {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.squeal-header-info {
  font-weight: bold;
  width: 100%
}

.squeal-header-info span {
  color: #657786;
  font-weight: normal;
  margin-left: 5px;
}

.squeal-header-info p {
  font-weight: normal;
  margin-top: 5px;

}

.squeal-img-wrap {
  padding-left: 60px;
}

.squeal-info-counts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}

.squeal-info-counts div {
  display: flex;
  margin-right: 20px;
}

.squeal-info-counts div svg {
  color: #657786;
  margin-right: 10px;
}

@media screen and (max-width:430px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .squeal-header {
    flex-direction: column;
  }

  .squeal-header img {
    margin-bottom: 20px;
  }

  .squeal-header-info p {
    margin-bottom: 30px;
  }

  .squeal-img-wrap {
    padding-left: 0;
  }

  .squeal-info-counts {
    display: flex;
    margin-left: 0;
  }

  .squeal-info-counts div {
    margin-right: 10px;
  }

  .highlight-input {
    position: relative;
    padding-left: 20px;
    /* Spazio per l'icona */
  }

  .user-input::before {
    content: "@";
    position: absolute;
    left: 5px;
    /* Posizione dell'icona */
    top: 50%;
    /* Posizione verticale centrata */
    transform: translateY(-50%);
    color: #007bff;
    /* Colore del simbolo "@" */
  }

  .channel-input::before {
    content: "§";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #28a745;
    /* Colore del simbolo "§" */
  }

  .keyword-input::before {
    content: "#";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #dc3545;
    /* Colore del simbolo "#" */
  }


  /* Aggiungi queste classi nel tuo file CSS per definire l'animazione e il colore */


}