<div id="squeal-form" [class]="getThemeClass()" class="squeal-wrap">
  <div class="squeal-header">
    <div class="squeal-header-info">
      <img src="../../assets/imgs/logo.png" alt="" class="avatar" />
      @{{user.username}}
      <span>{{user.account_type}}</span>

      <ng-container *ngIf='!isGuest'>
        <div *ngIf="enoughChars" class="squeal-form-text">
          {{user.char_quota.daily}}<span class="quota_letter">D</span>
          {{user.char_quota.weekly}}<span class="quota_letter">W</span>
          {{user.char_quota.monthly}}<span class="quota_letter">M</span>
          {{user.char_quota.extra_daily}}<span class="quota_letter">E</span>
        </div>
        <div *ngIf='!enoughChars' class="char_left squeal-form-text">Not enough chars left!</div>
        <form [formGroup]="squealForm" (ngSubmit)="createSqueal()">

          <div class="mb-1">
            <label for="squeal-txt-input" class="form-label"></label>
            <textarea #textarea [(ngModel)]="this.squealForm.value.text" (input)="onInput()" formControlName="text"
              placeholder="Write your squeal..." class="form-control col-12 p-3" rows="3"
              id="squeal-txt-input"></textarea>
          </div>

          <div class="accordion" id="accordionRecipients">
            <div class="accordion-item">
              <h2 class="accordion-header" id="recipientsHeader">
                <button class="accordion-button collapsed p-2 ps-3" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsRecipients" aria-expanded="false" aria-controls="collapsRecipients"
                  id="recipients-button">
                  Recipients
                </button>
              </h2>
              <div id="collapsRecipients" class="accordion-collapse collapse" aria-labelledby="recipientsHeader"
                data-bs-parent="#accordionRecipients">
                <div class="accordion-body">
                  <app-tag-input #usersInput [placeholder]="'Add a user...'" [specialChar]="'@'"></app-tag-input>
                  <app-tag-input #channelsInput [placeholder]="'Add a channel...'" [specialChar]="'§'"></app-tag-input>
                  <app-tag-input #keywordsInput [placeholder]="'Add a keyword...'" [specialChar]="'#'"></app-tag-input>
                </div>
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col"></div>
            <button type="submit" class="submit-button btn btn-secondary col-2 m-3 my-1">Post</button>
          </div>
        </form>
      </ng-container>



    </div>
    <ng-container *ngIf='user.account_type=="guest"'>
      <div class="guest-message pt-4"> <a (click)="goToPage('login')" class="text-primary">Log-in</a> if you want to
        post a squeal</div>
    </ng-container>

  </div>
  <div class="squeal-img-wrap">
    <!--img src="" alt="img" class="squeal-img" /-->
  </div>
</div>