<div id="squeal-form" [class]="getDarkMode()" class="squeal-wrap pt-4">
  <div class="squeal-header">
    <div class="squeal-header-info">
      <img src="../../assets/imgs/logo.png" alt="" class="avatar" />
      @{{user.username}}
      <span>{{user.account_type}}</span>

      <ng-container *ngIf='!isGuest || true'>
        <div *ngIf="enoughChars" class="squeal-form-text">
          {{user.char_quota?.daily || 0}}<span class="quota_letter">D</span>
          {{user.char_quota?.weekly || 0}}<span class="quota_letter">W</span>
          {{user.char_quota?.monthly|| 0}}<span class="quota_letter">M</span>
          {{user.char_quota?.extra_daily|| 0}}<span class="quota_letter">E</span>
        </div>
        <div *ngIf='!enoughChars' class="char_left squeal-form-text">Not enough chars left!</div>
        <form [formGroup]="squealForm" (ngSubmit)="createSqueal()">
          <!---->
          <div>
            <ul class="nav nav-pills mb-3 " id="pills-tab" role="tablist">
              <li class="nav-item fs-3" role="presentation">
                <button class="nav-link active" id="pills-text-tab" data-bs-toggle="pill" data-bs-target="#pills-text"
                  type="button" role="tab" aria-controls="pills-text" aria-selected="true"
                  (click)="selectedTab('text')"><i class="bi bi-card-text"></i></button>
              </li>
              <li class="nav-item fs-3" role="presentation">
                <button class="nav-link" id="pills-image-tab" data-bs-toggle="pill" data-bs-target="#pills-image"
                  type="button" role="tab" aria-controls="pills-image" aria-selected="false"
                  (click)="selectedTab('image')"><i class="bi bi-card-image"></i></button>
              </li>
              <li class="nav-item fs-3" role="presentation">
                <button class="nav-link" id="pills-video-tab" data-bs-toggle="pill" data-bs-target="#pills-video"
                  type="button" role="tab" aria-controls="pills-video" aria-selected="false"
                  (click)="selectedTab('video')"><i class="bi bi-play-btn"></i></button>
              </li>
              <li class="nav-item fs-3" role="presentation">
                <button class="nav-link" id="pills-position-tab" data-bs-toggle="pill" data-bs-target="#pills-position"
                  type="button" role="tab" aria-controls="pills-position" aria-selected="false"
                  (click)="selectedTab('position')"><i class="bi bi-cursor"></i></button>
              </li>
              <li class="nav-item ms-auto fs-3" role="presentation">
                <button class="nav-link" id="delayedSquealsTab" #delayedSquealsTab data-bs-toggle="collapse"
                  data-bs-target="#delayedSqueal" type="button" role="tab" aria-controls="delayedSqueal"
                  aria-selected="false" aria-expanded="false" (click)="toggleScheduled()"
                  [class.bg-primary]="delayedSquealsTab.getAttribute('aria-expanded') === 'true'"
                  [class.text-white]="delayedSquealsTab.getAttribute('aria-expanded') === 'true'"><i
                    class="bi bi-clock"></i></button>
              </li>
            </ul>
            <!--Delayed squeals-->
            <div class="accordion-item">
              <div id="delayedSqueal" class="accordion-collapse collapse" aria-label="Delayed squeal settings"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <!--body-->
                  <!--TODO cambiare #accordionExample-->
                  <label for="delayedSquealType" class="form-label m-0 mt-2">Type of delayed squeal</label>
                  <div class="input-group">
                    <select #delayedSquealType class="form-select" aria-label="Default select example">
                      <option value="postPeriodicallyForLimitedTimes" default>Post
                        every 'tickRate' for a 'repeat' number
                        of times
                      </option>
                      <option value="postAtIntervalsUntilDate">Post every
                        'tickRate' until a 'scheduled date'</option>
                      <option value="postAfterDelay">Post after a
                        'delay' time
                      </option>
                      <option value="postAtDate">Post in a specific
                        'scheduled
                        date'</option>

                    </select>
                    <button class="btn btn-outline-secondary" type="button"
                      (click)="selectedDelayedSquealType()">Select</button>
                  </div>


                  <!--postPeriodicallyForLimitedTimes tick_rate, repeat-->
                  <div class="row" #postPeriodicallyForLimitedTimesForm
                    *ngIf='selectedDelayedSquealTypeValue == "postPeriodicallyForLimitedTimes"'>
                    <div class="col-4 pe-1">
                      <label for="tick" class="form-label m-0 mt-2">Tick</label>
                      <input #tick id="tick" type="number" inputmode="numeric" pattern="\d*" class="form-control"
                        min="1" max="60" value="1">
                    </div>
                    <div class="col-4 px-1">
                      <label for="rate" class="form-label m-0 mt-2"> Rate</label>
                      <select #rate id="rate" class="form-select px-1" aria-label="Default select example">
                        <option value="mins" selected>mins</option>
                        <option value="hours">hours</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label for="repeat" class="form-label m-0 mt-2">Repeat</label>
                      <input #repeat id="repeat" type="number" inputmode="numeric" pattern="\d*" class="form-control"
                        min="1" max="60" value="1">
                    </div>

                  </div>
                  <!--postAtIntervalsUntilDate tick_rate, scheduled_date-->
                  <div class="row" #postAtIntervalsUntilDateForm
                    *ngIf='selectedDelayedSquealTypeValue == "postAtIntervalsUntilDate"'>
                    <div class="col-3 pe-1">
                      <label for="tick" class="form-label m-0 mt-2">Tick</label>
                      <input #tick id="tick" type="number" inputmode="numeric" pattern="\d*" class="form-control"
                        min="1" max="60" value="1">
                    </div>
                    <div class="col-3 px-1">
                      <label for="rate" class="form-label m-0 mt-2"> Rate</label>
                      <select #rate id="rate" class="form-select px-1" aria-label="Default select example">
                        <option value="mins" selected>mins</option>
                        <option value="hours">hours</option>
                      </select>
                    </div>
                    <div class="col-6">
                      <label for="date" class="form-label m-0 mt-2">Date</label>
                      <input #date id="date" type="date" class="form-control px-1" name="delayedSquealDate">
                    </div>

                  </div>
                  <!--postAfterDelay tick_rate-->
                  <div class="row" #postAfterDelayForm *ngIf='selectedDelayedSquealTypeValue == "postAfterDelay"'>
                    <div class="col-4">
                      <label for="tick" class="form-label m-0 mt-2">Tick</label>
                      <input #tick id="tick" type="number" inputmode="numeric" pattern="\d*" class="form-control"
                        min="1" max="60" value="1">
                    </div>
                    <div class="col-5">
                      <label for="rate" class="form-label m-0 mt-2"> Rate</label>
                      <select #rate id="rate" class="form-select" aria-label="Default select example">
                        <option value="mins" selected>mins</option>
                        <option value="hours">hours</option>
                      </select>
                    </div>
                  </div>
                  <!--postAtDate scheduled_date-->
                  <div class="row" #postAtDateForm *ngIf='selectedDelayedSquealTypeValue == "postAtDate"'>
                    <div class="col-12">
                      <label for="date" class="form-label">Date</label>
                      <input #date id="date" type="datetime-local" class="form-control" name="delayedSquealDate">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End delayed squeals-->

          </div>
          <!--Squeal Type-->
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-text" role="tabpanel" aria-labelledby="pills-text-tab"
              tabindex="0">
              <!--Text-->
              <div class="mb-1">
                <label for="squeal-txt-input" class="form-label"></label>
                <textarea #textarea (input)="onInput()" formControlName="text" placeholder="Write your squeal..."
                  class="form-control col-12 p-3" rows="3" id="squeal-txt-input"
                  [class.border-secondary]="getDarkMode()=='dark-theme'"
                  [class.text-light]="getDarkMode()=='dark-theme'"
                  [class.bg-dark]="getDarkMode()=='dark-theme'"></textarea>
              </div>
              <!--End text-->
            </div>
            <div class="tab-pane fade" id="pills-image" role="tabpanel" aria-labelledby="pills-image-tab" tabindex="0">
              <!--image-->
              <div class="mb-3">
                <label for="imageInput" class="form-label">Image input</label>
                <input class="form-control" type="file" #imageInput accept="image/*" name="image"
                  (change)="onFileSelected($event)">
              </div>
              <!--End image-->
            </div>
            <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab" tabindex="0">
              <!--video-->
              <div class="mb-3">
                <label for="videoInput" class="form-label">Video input</label>
                <input class="form-control" type="file" #videoInput accept="video/*" name="video"
                  (change)="onFileSelected($event)">
              </div>
              <!--End video-->
            </div>
            <div class="tab-pane fade" id="pills-position" role="tabpanel" aria-labelledby="pills-position-tab"
              tabindex="0">
              <!--position-->
              <app-map class="pb-3"></app-map>
              <!--End position-->
            </div>
          </div>
          <!--End Squeal Type-->

          <!--Recipients-->
          <div class="accordion" id="accordionRecipients">
            <div class="accordion-item border" [class.border-secondary]="getDarkMode()=='dark-theme'">
              <h2 class="accordion-header" id="recipientsHeader">
                <button class="accordion-button collapsed p-2 ps-3" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsRecipients" aria-expanded="false" aria-controls="collapsRecipients"
                  id="recipients-button" [class.border-white]="getDarkMode()=='dark-theme'"
                  [class.text-light]="getDarkMode()=='dark-theme'" [class.bg-dark]="getDarkMode()=='dark-theme'">
                  Recipients
                </button>
              </h2>
              <div id="collapsRecipients" class="accordion-collapse collapse" aria-labelledby="recipientsHeader"
                data-bs-parent="#accordionRecipients" [class.bg-dark]="getDarkMode()=='dark-theme'">
                <div class="accordion-body">
                  <app-tag-input class="mt-1" #usersInput [placeholder]="'Add a user...'"
                    [specialChar]="'@'"></app-tag-input>
                  <hr class="m-2 text-secondary">
                  <app-tag-input class="mt-1" #channelsInput [placeholder]="'Add a channel...'"
                    [specialChar]="'§'"></app-tag-input>
                  <hr class="m-2 text-secondary">
                  <app-tag-input class="mt-1" #keywordsInput [placeholder]="'Add a keyword...'"
                    [specialChar]="'#'"></app-tag-input>
                </div>
              </div>
            </div>

          </div>
          <!--End Recipients-->

          <div class="row">
            <div class="col">
              <div *ngIf="showSquealPostResponse" id="squeal-post-response" class="pt-3 ps-2"
                [class.text-success]="request_outcome" [class.text-danger]="!request_outcome">
                {{postResponse}}
              </div>
            </div>
            <button id="submit_squeal" type="submit"
              class="submit-button btn btn-secondary col-2 m-3 my-1 px-1">Post</button>
          </div>
        </form>
      </ng-container>



    </div>
    <ng-container *ngIf='user?.account_type=="guest"'>
      <div class="guest-message pt-4"> <a (click)="goToPage('login')" class="text-primary">Log-in</a> if you want to
        post a squeal</div>
    </ng-container>

  </div>
  <div class="squeal-img-wrap">
    <!--img src="" alt="img" class="squeal-img" /-->
  </div>
</div>