img {
  max-width: 100%;
}

textarea {
  resize: none;
  overflow: hidden;
}

.accordion-button.bg-dark::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.red {
  color: red;
}

.vibrating-error {
  animation: vibrate 0.5s ease infinite;
  color: red;
}


@keyframes vibrate {
  0% {
    transform: translate(-1px, 1px);
  }

  12% {
    transform: translate(0px, 1px);
  }

  25% {
    transform: translate(-1px, -1px);
  }

  37% {
    transform: translate(1px, -1px);
  }

  50% {
    transform: translate(1px, 0px);
  }

  62% {
    transform: translate(-1px, 1px);
  }

  75% {
    transform: translate(0px, 1px);
  }

  87% {
    transform: translate(-1px, -1px);
  }

  100% {
    transform: translate(1px, -1px);
  }


}


#squeal-txt-input {
  background-color: #ffffff;
  /* Color red, can be modified as desired */
}

#recipientsButton {
  color: #c00050
}

.accordionRecipients {
  width: 100%;
}

.avatar {
  border-radius: 100px;
  width: 48px;
  margin-right: 5px;
}


.squeal-wrap {
  max-width: 490px;
  background: #fff;
  margin: 0 auto;
  border-radius: 8px;
  padding: 30px;
}

.squeal-header {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.squeal-header-info {
  font-weight: bold;
  width: 100%
}

.squeal-header-info span {
  color: #657786;
  font-weight: normal;
  margin-left: 5px;
}

.squeal-header-info p {
  font-weight: normal;
  margin-top: 5px;

}

.squeal-img-wrap {
  padding-left: 60px;
}

.squeal-info-counts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}

.squeal-info-counts div {
  display: flex;
  margin-right: 20px;
}

.squeal-info-counts div svg {
  color: #657786;
  margin-right: 10px;
}

@media screen and (max-width:430px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .squeal-header {
    flex-direction: column;
  }

  .squeal-header img {
    margin-bottom: 20px;
  }

  .squeal-header-info p {
    margin-bottom: 30px;
  }

  .squeal-img-wrap {
    padding-left: 0;
  }

  .squeal-info-counts {
    display: flex;
    margin-left: 0;
  }

  .squeal-info-counts div {
    margin-right: 10px;
  }

  .highlight-input {
    position: relative;
    padding-left: 20px;
    /* icon part */
  }

  .user-input::before {
    content: "@";
    position: absolute;
    left: 5px;
    /* icon position */
    top: 50%;
    /* vertical centered position */
    transform: translateY(-50%);
    color: #007bff;
    /*  "@" color */
  }

  .channel-input::before {
    content: "§";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #28a745;
    /*  "§" color */
  }

  .keyword-input::before {
    content: "#";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #dc3545;
    /* "#" color */
  }


  /* Add these classes in your CSS file to define the animation and color */


}