<div class="content" role="main">
  <div class="mt-4">
    <div class="row p-3 " [ngClass]="bannerClass">
      <h1> STORE <i class="bi bi-shop"></i> </h1>
      <h1>BUNDLES</h1>

    </div>
    <div *ngIf="isGuest" class="m-3">
      <a (click)="goToPage('login')" class="text-primary">Log-in</a> to view the Store
    </div>
    <div *ngIf="!isGuest">
      <!-- ----------------------------------------------------------------------------------------------- -->

      <div class="row row-cols-1 row-cols-2 g-4">
        <div class="col" *ngFor="let item of itemsBundle">
          <div class="card border-light clickable h-100" (click)="addCharacters(item.id)"
            [class.bg-dark]="getThemeClass() == 'dark-theme'" [class.border-light]="getThemeClass() == 'dark-theme'"
            [class.border-dark]="getThemeClass() == 'light-theme'">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p>${{ item.price }}</p>
              <hr class="m-1">
              <div class="card-text"><i class="bi bi-{{ item.icon }} h1 pe-2"></i>{{item.description}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion accordion-flush mt-4" id="accordionQuota">
        <div class="accordion-item" *ngFor="let accordion of [itemsDaily, itemsWeekly, itemsMonthly]; let i = index">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" [class.bg-dark]="getThemeClass() == 'dark-theme'"
              [class.border-light]="getThemeClass() == 'dark-theme'"
              [class.border-dark]="getThemeClass() == 'light-theme'"
              [class.text-light]="getThemeClass() == 'dark-theme'" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
              <h1>{{ bundlesNames[i] }}</h1>
            </button>
          </h2>
          <div [id]="'collapse' + i" class="accordion-collapse collapse" data-bs-parent="#accordionQuota">
            <div class="accordion-body" [class.bg-dark]="getThemeClass() == 'dark-theme'"
              [class.text-light]="getThemeClass() == 'dark-theme'">
              <div class="row row-cols-1 row-cols-2 g-4">
                <div class="col" *ngFor="let item of accordion">
                  <div class="card border-light clickable h-100" (click)="addCharacters(item.id)"
                    [class.bg-dark]="getThemeClass() == 'dark-theme'"
                    [class.border-light]="getThemeClass() == 'dark-theme'"
                    [class.border-dark]="getThemeClass() == 'light-theme'">
                    <div class="card-body">
                      <h5 class="card-title">{{ item.name }}</h5>
                      <p>${{ item.price }}</p>
                      <hr class="m-1">
                      <div class="card-text h3"><i class="bi bi-{{ item.icon }} h1"></i> {{ item.description }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------------------------------- -->
    </div>
  </div>
</div>