<div role="main" class="m-3">
  <div class="mesage-container" id="messageContainer">
    <div *ngFor="let message of chat.messages" class="chat-body mb-1">

      <div *ngIf="message.sender === reqSenderPosition && chat_loaded"
        [class.user-message-dark]="getThemeClass()=='dark-theme'"
        [class.user-message-light]="getThemeClass()=='light-theme'" class="card mb-1 text-end float-end"
        style="max-width: 20rem;">
        <div class="card-header">You</div>
        <div class="card-body">
          <p class="card-text">{{message.text}}</p>
          <div class="text-end timetext-color small">{{timeService.getRelativeTime(message.timestamp)}}</div>
        </div>
      </div>

      <div *ngIf="message.sender !== reqSenderPosition && chat_loaded"
        [class.recipient-message-dark]="getThemeClass()=='dark-theme'"
        [class.recipient-message-light]="getThemeClass()=='light-theme'" class="card mb-1 text-start float-start"
        style="max-width: 20rem;">
        <div class="card-header">{{recipient}}</div>
        <div class="card-body">
          <p class="card-text">{{message.text}}
          </p>
          <div class="timetext-color small">{{timeService.getRelativeTime(message.timestamp)}}</div>

        </div>
      </div>
    </div>
  </div>
  <form class="input-group fixed-bottom mb-5 pb-2" id="message_input" (ngSubmit)="sendMessage()">
    <input type="text" [(ngModel)]="this.message_text" class="form-control p-3 " placeholder="Type your message..."
      aria-label="Type your message...">
    <button class="btn btn-primary px-3 " type="submit"><i class="bi bi-send fs-3 "></i></button>
  </form>


</div>