<div class="m-2"><i *ngIf="isSquealPage" class="bi bi-arrow-left-circle-fill" (click)="goBack()"></i></div>
<div class="container of-vis">
  <div class="row justify-content-center of-vis">
    <div class="col-12 col-md-6 of-vis">
      <div class="squeal card text-center shadow-0 of-vis" [class]="getDarkMode()">
        <div class=" bg-image hover-overlay ripple">
          <!-- <img src="../../assets/imgs/vulture-306727_960_720.webp" class="img-fluid" /> -->
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>

        <div class="card-header">
          <div class="row">
            <div class="col">
            </div>
            <div class="col clickable" (click)="squeal.content_type!='deleted' ? goToSqueal() : null">
              <i *ngIf="squeal.is_in_official_channel" class="bi bi-award-fill text-warning"></i> HEX{{squeal.hex_id}}
            </div>
            <div class="col text-end">
              <i *ngIf="mySqueal && squeal.content_type != 'deleted' && isProfile" class="bi bi-trash" type="button"
                data-bs-toggle="modal" data-bs-target="#deleteConfirm" [attr.data-bs-squealId]="squeal._id"></i>
            </div>

          </div>
        </div>


        <div class="card-body p-2 of-vis">
          <h5 class="card-title">@{{squeal.username}}</h5>
          <p *ngIf="squeal.content_type == 'text' || squeal.content_type == 'deleted'" class="card-text">
            {{squeal.content}}</p>
          <div *ngIf="squeal.content_type == 'image'" class="card-img-top ">
            <img [src]="squeal.content?.startsWith('https')?squeal.content:('media/image/'+squeal.content)"
              class="img-fluid" onerror="this.src='/../media/image/not-found.png'" />
          </div>
          <div *ngIf="squeal.content_type == 'video'">
            <video controls [poster]="'media/thumbnail/'+squeal.content" style="max-width: 100%; height: auto;"
              preload="auto" playsinline>
              <source [src]="'media/video/'+squeal.content" type="video/mp4">
            </video>
          </div>
          <!--position-->
          <div *ngIf="squeal.content_type == 'position'" class="w-100">
            <app-map [squeal_content]="squeal.content || ''" [lng]="getLon(squeal.content)"
              [lat]="getLat(squeal.content)" [squeal_id]="squeal._id || '0'" class="w-100"></app-map>
          </div>
          <!--end position-->
          <div *ngIf="squeal.content_type!='deleted'" class="card-icons container">
            <div class="row flex-nowrap justify-content-between d-flex align-items-center my-2 buttons-container">

              <div class="col-5 px-1">
                <button id="comment_button" type="button" title="toggle comments section"
                  class="btn btn-secondary comments btn-rounded px-2" (click)="isGuest?null:toggleComments()"
                  data-bs-toggle="button"
                  [disabled]="squeal.comments_count === 0 || squeal.comments_count == undefined || isGuest">
                  <i class="bi bi-chat-dots-fill"></i>
                  <p class="badge bg-danger ms-2 my-auto">{{squeal.comments_count || 0}}</p>
                </button>
              </div>


              <div class="col-2 p-0 d-flex justify-content-center reaction-container">
                <app-reactions-menu [alreadyReacted]="squeal.reacted || false" [squealId]="squeal._id ?? '0'"
                  [isGuest]="isGuest" class="on-top"></app-reactions-menu>
              </div>

              <div class="col-5 px-1">
                <button title="report a squeal" (click)="reportSqueal()" type="button"
                  class="btn btn-secondary btn-rounded report px-4 py-2" data-bs-toggle="button" [disabled]="isGuest">
                  <i class="bi bi-flag-fill"></i>
                </button>
              </div>

            </div>
            <div *ngIf="isSquealPage" class="row">
              <div class="col-6">
                <div class="row">
                  <h3 class="col-9 text-end m-0 p-0 b-0"> {{squeal.reactions?.dislike?.toLocaleString()}} </h3>
                  <h3 class="col text-start m-0 p-0 b-0"> 👎 </h3>
                </div>
                <div class="row">
                  <h3 class="col-9 text-end m-0 p-0 b-0"> {{squeal.reactions?.disagree?.toLocaleString()}} </h3>
                  <h3 class="col text-start m-0 p-0 b-0"> 🙅 </h3>
                </div>
                <div class="row">
                  <h3 class="col-9 text-end m-0 p-0 b-0"> {{squeal.reactions?.disgust?.toLocaleString()}} </h3>
                  <h3 class="col text-start m-0 p-0 b-0"> 🤮 </h3>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <h3 class="col text-end m-0 p-0 b-0"> 👍 </h3>
                  <h3 class="col-9 text-start m-0 p-0 b-0"> {{squeal.reactions?.like?.toLocaleString()}} </h3>
                </div>
                <div class="row">
                  <h3 class="col text-end m-0 p-0 b-0"> 😂 </h3>
                  <h3 class="col-9 text-start m-0 p-0 b-0"> {{squeal.reactions?.laugh?.toLocaleString()}} </h3>
                </div>
                <div class="row">
                  <h3 class="col text-end m-0 p-0 b-0"> 😍 </h3>
                  <h3 class="col-9 text-start m-0 p-0 b-0"> {{squeal.reactions?.love?.toLocaleString()}} </h3>
                </div>
              </div>
            </div>
            <div *ngIf="isHome" class="flex-nowrap justify-content-center d-flex align-items-center py-2 below">
              <div *ngIf="squeal.selected?.because=='mentioned'">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item" [class.bg-secondary]="getDarkMode()=='dark-theme'"
                    [class.text-light]="getDarkMode()=='dark-theme'">You have been mentioned here</li>
                </ul>
              </div>
              <div *ngIf="squeal.selected?.because=='official' || squeal.selected?.because=='subscribed'">
                <ul class="list-group list-group-horizontal">
                  <li (click)="goToChannel(name)" *ngFor="let name of squeal.selected?.ids"
                    class="list-group-item clickable" [class.bg-secondary]="getDarkMode()=='dark-theme'"
                    [class.text-light]="getDarkMode()=='dark-theme'">
                    §{{name}}</li>
                </ul>
              </div>

            </div>

          </div>

          <div *ngIf="squeal.content_type!='deleted'" class="card-footer clickable" (click)="goToSqueal()"><i
              class="bi bi-calendar4-week"></i>
            {{timeService.getRelativeTime(squeal.created_at)}}</div>
          <div *ngIf="squeal.content_type=='deleted'" class="card-footer"><i class="bi bi-trash-fill"></i>
            {{timeService.getRelativeTime(squeal.last_modified)}}</div>
          <div *ngIf="showComments" class="mt-3">
            <h4>Comments</h4>
            <button class="btn btn-secondary pb-2" *ngIf="loadMore" (click)="loadMoreComments()">Load more</button>
            <!-- Comment list -->
            <ul class="list-unstyled pt-2">
              <li *ngFor="let comment of comment_section.comments_array">
                <p class="mb-1"><strong>{{comment.author_username}}</strong>: {{comment.text}}</p>
              </li>
            </ul>

            <!-- Add more comments form -->

            <form class="input-group mb-3">
              <input type="text" [(ngModel)]="newCommentText" class="form-control" placeholder="Insert your comment..."
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="submit" (click)="addComment()"
                id="button-addon2">Post</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>