img {
  max-width: 100%;
}

.crop-avatar {
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.avatar {
  border-radius: 50%;
  margin-right: 15px;
}

.on-top {
  z-index: 1;
  position: relative;
  overflow: visible;
  top: 10px;
}

.reaction-container {
  overflow: visible;
  height: initial
}

.buttons-container {
  position: relative;
  height: min-content;
  overflow: visible;
}

.card-icons.container {
  overflow: visible
}

.of-vis {
  overflow: visible;
}

.btn-secondary.report {
  --bs-btn-active-bg: rgb(109, 41, 41);
}

.btn-secondary.comments {
  --bs-btn-active-bg: #303c5a;
}