<div class="m-2"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="squeal card text-center shadow-0" [class]="getThemeClass()">
        <div class=" bg-image hover-overlay ripple">
          <!-- <img src="../../assets/imgs/vulture-306727_960_720.webp" class="img-fluid" /> -->
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
        <div class="card-header">HEX{{squeal.hex_id}}</div>
        <div class="card-body p-2">
          <h5 class="card-title">@{{squeal.username}}</h5>
          <p class="card-text">{{squeal.content}}</p>

          <div class="card-icons container">
            <div class="row flex-nowrap justify-content-between d-flex align-items-center my-2">

              <div class="col-5 px-1">
                <button id="comment_button" type="button" class="btn btn-secondary btn-rounded px-2"
                  (click)="toggleComments()">
                  <i class="bi bi-chat-dots-fill"></i>
                  <p class="badge bg-danger ms-2 my-auto">{{squeal.comments_count || 0}}</p>
                </button>
              </div>


              <div class="col-2 p-0 d-flex justify-content-center">
                <app-reactions-menu [squealId]="squeal._id ?? '0'"></app-reactions-menu>
              </div>

              <div class="col-5 px-1">
                <button type="button" class="btn btn-secondary btn-rounded px-4 py-2">
                  <i class="bi bi-flag-fill"></i>
                </button>
              </div>

            </div>
          </div>

          <div class="card-footer"><i class="bi bi-calendar4-week"></i>
            {{timeService.getRelativeTime(squeal.created_at)}}</div>

          <div *ngIf="showComments" class="mt-3">
            <h4>Comments</h4>
            <button *ngIf="loadMore" (click)="loadMoreComments()">Load more</button>
            <!-- Lista dei commenti -->
            <ul class="list-unstyled">
              <li *ngFor="let comment of comment_section.comments_array">
                <p><strong>{{comment.author_username}}</strong>: {{comment.text}}</p>
              </li>
            </ul>

            <!-- Modulo per aggiungere un nuovo commento -->

            <div class="input-group mb-3">
              <input type="text" [(ngModel)]="newCommentText" class="form-control" placeholder="Insert your comment..."
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="button" (click)="addComment()"
                id="button-addon2">Post</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>