<div class="content" role="main">
  <div class="row">
    <div class="col"></div>
    <app-squeal-form (squealSubmitted)="onSquealSubmitted($event)" class="col-12 col-md-6"></app-squeal-form>
    <div class="col"></div>
  </div>




  <div *ngIf="squeals.length == 0">
    <div class="container">
      <div class="row justify-content-center">No squeal available</div>
    </div>
  </div>
  <app-squeal *ngFor="let squeal of squeals" [squeal]="squeal"></app-squeal>

  <div class="card-container">

  </div>
</div>
