<div *ngFor="let tag of tags" class="tag border " [class.bg-dark]="getDarkMode()=='dark-theme'"
  [class.border-secondary]="getDarkMode()=='dark-theme'" [class.text-light]="getDarkMode()=='dark-theme'">
  <span>{{specialChar}}</span>{{tag}}
  <span class="delete" (click)="removeTag(tag)">x</span>
</div>
<nav class="navbar p-0">
  <form class="container-fluid  px-0">
    <div class="input-group">
      <span class="input-group-text special-char" [id]="'specialChar-' + tagInputIds[specialChar]+'-'+id_modifier"
        [class.bg-dark]="getDarkMode()=='dark-theme'" [class.border-secondary]="getDarkMode()=='dark-theme'"
        [class.text-light]="getDarkMode()=='dark-theme'">{{specialChar}}</span>
      <input [(ngModel)]="tagInput" (focusout)="addTag()" (keyup.space)="addTag()" placeholder="{{placeholder}}"
        type="text" class="form-control"
        [attr.aria-describedby]="'specialChar-' + tagInputIds[specialChar]+'-'+id_modifier" name="test"
        [class.border-secondary]="getDarkMode()=='dark-theme'" [class.text-light]="getDarkMode()=='dark-theme'"
        [class.bg-dark]="getDarkMode()=='dark-theme'">
    </div>
  </form>
</nav>