<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class=" container-fluid">
    <a href="/home">
      <img width="40" alt="Squealer Logo" src="assets/imgs/logo.png" />
    </a>
    <a class="navbar-brand" href="/home">Squealer</a>
    <button (click)="checkLogButton()" class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div [class.bg-dark]="getThemeClass()=='dark-theme'" [class.bg-light]="getThemeClass()=='light-theme'"
        class="offcanvas-header side-menu ov-hidden">
        <button type="button" class="btn-close" [class.btn-close-white]="getThemeClass()=='dark-theme'"
          data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menù</h5>

      </div>
      <div [class.bg-dark]="getThemeClass()=='dark-theme'" [class.bg-light]="getThemeClass()=='light-theme'"
        class="offcanvas-body side-menu" [class.text-dark]="getThemeClass()=='light-theme'">
        <ul class="navbar-nav text-end flex-grow-1 pe-2 menu-font-size ">
          <li class=" nav-item row py-3">
            <a class="col"></a>
            <a class="nav-link active col-auto clickable" [class.text-dark]="getThemeClass()=='light-theme'"
              aria-current="page" (click)="goToPage('home')" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasDarkNavbar">
              Home
            </a>
            <i class="bi bi-house-door col-2 d-flex justify-content-center align-items-center clickable"
              (click)="goToPage('home')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"></i>
          </li>
          <li class="nav-item row py-3">
            <a class="col"></a>
            <a class="nav-link col-auto clickable" [class.text-dark]="getThemeClass()=='light-theme'"
              (click)="goToPage('profile')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
              Profile
            </a>
            <i class="bi bi-person col-2 d-flex justify-content-center align-items-center clickable"
              (click)="goToPage('profile')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"></i>
          </li>

          <li class="nav-item row py-3">
            <a class="col"></a>
            <a class="nav-link col-auto clickable" [class.text-dark]="getThemeClass()=='light-theme'"
              (click)="goToPage('store')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
              Store
            </a>
            <i class=" bi bi-shop col-2 d-flex justify-content-center align-items-center clickable"
              (click)="goToPage('store')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"></i>
          </li>

          <li class="nav-item row py-3">
            <a class="col"></a>
            <a class="nav-link col-auto clickable" [class.text-dark]="getThemeClass()=='light-theme'"
              (click)="goToPage('channel-manager')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
              Channels
            </a>
            <i class=" bi bi-rss col-2 d-flex justify-content-center align-items-center clickable"
              (click)="goToPage('channel-manager')" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasDarkNavbar"></i>
          </li>

          <li class="nav-item row py-3">
            <a class="col"></a>
            <a class="nav-link col-auto clickable" [class.text-dark]="getThemeClass()=='light-theme'"
              (click)="goToPage('search')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
              Search
            </a>
            <i class="bi bi-search col-2 d-flex justify-content-center align-items-center clickable"
              (click)="goToPage('search')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"></i>
          </li>

          <li *ngIf="userService.isSMM()" class="nav-item row py-3">
            <a class="col"></a>
            <a class="nav-link col-auto clickable" [class.text-dark]="getThemeClass()=='light-theme'"
              (click)="goToPage('smm-dashboard')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
              SMM Dashboard
            </a>
            <i class="bi bi-clipboard2-data col-2 d-flex justify-content-center align-items-center clickable"
              (click)="goToPage('smm-dashboard')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"></i>
          </li>
          <li *ngIf="userService.isSquealerMod()" class="nav-item row py-3">
            <a class="col"></a>
            <a class="nav-link col-auto clickable" [class.text-dark]="getThemeClass()=='light-theme'"
              (click)="goToPage('mod-dashboard')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
              Moderator Dashboard
            </a>
            <i class="bi bi-clipboard2-data col-2 d-flex justify-content-center align-items-center clickable"
              (click)="goToPage('mod-dashboard')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"></i>
          </li>
          <hr class="my-3">
          <li class="nav-item row py-3">
            <a class="col"></a>
            <a class="nav-link col-auto clickable" [class.text-dark]="getThemeClass()=='light-theme'"
              (click)="toggleDarkMode()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
              {{textMode}}
            </a>
            <i [class.bi-brightness-high]="getThemeClass()=='dark-theme'"
              [class.bi-moon]="getThemeClass()=='light-theme'"
              class="bi col-2 d-flex justify-content-center align-items-center clickable" (click)="toggleDarkMode()"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"></i>
          </li>
          <li class="nav-item row py-3">
            <a class="col"></a>
            <a class="nav-link col-auto clickable" [class.text-dark]="getThemeClass()=='light-theme'" (click)="log()"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
              {{log_button}}
            </a>
            <i [class.bi-box-arrow-right]="this.log_button=='Logout'"
              [class.bi-box-arrow-in-left]="this.log_button=='Login'"
              class="bi col-2 d-flex justify-content-center align-items-center clickable" (click)="log()"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"></i>
          </li>
          <li class="nav-item row py-3" *ngIf="log_button!='Login'">
            <a class="col"></a>
            <a class="nav-link col-auto text-danger clickable" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasDarkNavbar" data-bs-toggle="collapse" data-bs-target="#deleteProfile"
              aria-expanded="false" aria-controls="deleteProfile">
              Delete account
            </a>
            <i class=" bi bi-trash col-2 d-flex justify-content-center align-items-center text-danger clickable"
              data-bs-target="#offcanvasDarkNavbar" data-bs-toggle="collapse" data-bs-target="#deleteProfile"
              aria-expanded="false" aria-controls="deleteProfile"></i>
          </li>
          <li class="collapse" id="deleteProfile">
            <div class="card card-body" [class.bg-dark]="getThemeClass()=='dark-theme'">
              <button class="btn btn-danger" type="button" (click)="deleteProfile()">DELETE PROFILE</button>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>