<div>
  <div>
    <h1 class="m-1 p-2 pt-3">Private messages</h1>
  </div>

  <div *ngFor="let chat of chatsPreview;">
    <div class="card m-1" href="#">
      <div class="card-body bg-opacity-10">
        <h5 class="card-title">{{ chat.recipient}}</h5>
        <div class="row">
          <i class="card-text col"><i *ngIf="chat.sent_by_me">You: </i>{{ chat.last_message}}</i><i class="col">
            {{ isToday(chat.last_modified) ? chat.last_modified.toLocaleTimeString() :
            chat.last_modified.toLocaleDateString() }}
          </i>

        </div>
      </div>
    </div>
  </div>
</div>