<div role="main">

  <div class="row">
    <h1 class="m-1 p-2 pt-3 col">Notifications</h1>
    <button *ngIf="!isGuest && notifications.length>0" class="col-auto btn btn-secondary my-3 me-3"
      (click)="markAllAsRead()">Mark all as
      read</button>
  </div>

  <div *ngIf="isGuest" class="m-3">
    <a (click)="goToPage('login')" class="text-primary">Log-in</a> to view your private messages
  </div>
  <div *ngIf="!isGuest">
    <div *ngFor="let notification of notifications">
      <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center row">
        <div class="col-1"></div>
        <div class="toast show m-1 col col-md-2 clickable" [class.dark-toast]="getDarkMode()=='dark-theme'" role="alert"
          aria-live="assertive" aria-atomic="true" (click)="notificationLink(notification)">
          <div class="toast-header" [class.dark-toast]="getDarkMode()=='dark-theme'">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" [ngStyle]="{ 'fill': getColor(notification.source) }"></rect>
            </svg>
            <strong class="me-auto text-capitalize">{{notification.source}}</strong>
            <small>{{timeService.getRelativeTime(notification.created_at)}}</small>
            <i *ngIf="notification.is_unseen" class="text-danger bi bi-record-fill"></i>
          </div>
          <div class="toast-body">
            {{notification.content}}
          </div>
        </div>
        <div class="col-1"></div>
      </div>


    </div>
    <div *ngIf="loadMoreButton" class=" d-flex justify-content-center align-items-center py-2">
      <button (click)="loadMoreSqueals()" type=" button" class="btn btn-outline-secondary rounded-pill"><i
          class="bi bi-arrow-clockwise"></i></button>
    </div>
  </div>

</div>